<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DY Library</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <h1>📚 DY Library</h1>
</header>

